$main-background-color: rgb(40, 40, 40);
$secondary-background-color: rgb(30, 30, 30);

$box-shadow-color: rgb(50, 50, 50);

$main-text-color: rgb(230, 230, 230);
$highlighted-text-color: rgb(50, 233, 132);

$barbar-red: rgb(220,53,19);

$main-font-size: 1.1rem;
$heading-font-size: 2rem;